html {
	height: 100%;
	width: 100%;
	
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

body {	
	height: 100%;
	width: 100%;

	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#header-links {
	display: flex;
	flex-direction: row;

	margin-top: 10px;
}

.header-elem {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.header-elem a {
	width: 100px;
	color: gold;
	font-size: 20px;
	text-decoration: none;
}

.header-elem img {
	width: 20px;
	height: 20px;
}
#header-icons {
	display: flex;
	flex-direction: row;

	margin-top: 10px;
}

#header-links #header-icons {
	display: flex;
	justify-content: space-between;
}

#home-title {
	color: white;
	font-size: 40px;
	background-image: url("images/backgrounddddd.jpg");

	/* horizontal align */
	width: 100%;
	text-align: center;
	
	/* vertical align */
	position: absolute;
	top: 40%;
	transform: translateY(-50%);

}

#home-textpara {

	/* horizontal align*/
	width: 50%;

	top: 40%;
	transform: translateY(300%);
	margin-left: 10px;
}

#home-h2 {
	color: gold;
}

dt {
	font-size: 21px;
	margin-left: 15px;	
}

dd {
	font-size: 20px;
}


#others-title {
	margin-left: 15px;
	color: gold;
}
h2 {
	margin-left: 15px;
}

