h1 {
	font-size: 80px;

	/* horizontal align */
	width: 100%;
	text-align: center;
	
	/* vertical align */
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}	

h2 a {
	color: black;
	float: right;
	font-size: 20px;
	text-decoration: none;
	margin: 5px 15px 5px 15px;
}
