#home-title {
	font-size: 40px;

	/* horizontal align */
	width: 100%;
	text-align: center;
	
	/* vertical align */
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}	

h2 a {
	color: black;
	float: right;
	font-size: 20px;
	text-decoration: none;
	margin: 2px 15px 2px 15px;
}

#others-title {	
	font-size: 20px;
	margin: 20px 0px 20px 0px;
}

